---
import NextArrow from "../assets/NextArrow.astro";
import NextBg from "../assets/NextBg.astro";
---

<section
  class="lg:min-h-screen min-h-svh flex flex-col justify-between"
  id="inicio"
>
  <div
    class="bg-gray-100 flex flex-col justify-center items-center md:gap-24 gap-12 text-center p-4 flex-1 hero"
  >
    <div
      class="flex flex-col justify-center items-center md:gap-8 gap-4 max-w-xl lg:max-w-full xl:px-3 lg:px-8 mt-10 animation hero-text"
    >
      <h1
        class="xl:text-8xl lg:text-6xl md:text-5xl sm:text-5xl text-4xl font-bold max-w-7xl text-center"
      >
        Impulsamos marcas hacia su<span class="text-brand">
          máximo potencial</span
        >
      </h1>
      <p class="max-w-5xl lg:text-3xl text-xl">
        Transformamos tu presencia digital con estrategias innovadoras que
        generan resultados reales y medibles. Marketing sin humo.
      </p>
    </div>
    <a href="#contacto">
      <button
        class="bg-dark py-3 px-8 rounded-2xl text-white flex gap-3 justify-center items-center hover:bg-dark/90 transition cursor-pointer"
        >Agendá una reunión <svg width="12" height="11">
          <use href={`./icons/icons.svg?v=24#arrow`}></use>
        </svg></button
      >
    </a>
  </div>
  <div class="flex justify-center items-center">
    <a href="#servicios
    " class="relative flex justify-center items-center">
      <NextBg />
      <NextArrow />
    </a>
  </div>
</section>

<style>
  @media (max-height: 700px) and (min-width: 1200px) {
    .hero {
      gap: 2em;

      & .hero-text {
        gap: 1em;

        & h1 {
          font-size: 3.5em;
          max-width: 64rem;
        }

        & p {
          font-size: 1.5em;
          max-width: 54rem;
        }
      }
    }
  }
</style>

<style is:global>
  #arrow-next {
    animation: bounce linear 1s infinite;
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-3px);
    }
    50% {
      transform: translateY(3px);
    }
  }
</style>
