---
const stages = [
  {
    stage: "Etapa 1",
    title: "Fundación y Estrategia",
    description: [
      { text: "Auditoría general completa", icon: "icon-1" },
      { text: "Definición de objetivos", icon: "icon-2" },
      {
        text: "Estrategia inicial e implementación de campañas (Meta Ads, Google Ads)",
        icon: "icon-3",
      },
      { text: "Setup de redes sociales", icon: "icon-4" },
    ],
  },
  {
    stage: "Etapa 2",
    title: "Optimización y Crecimiento",
    description: [
      { text: "Recomendaciones en el sitio web", icon: "icon-5" },
      {
        text: "Elaboración de anuncios ganadores en producciones de contenidos",
        icon: "icon-6",
      },
      { text: "Escalado de campañas", icon: "icon-7" },
      { text: "Retargeting avanzado", icon: "icon-8" },
    ],
  },
  {
    stage: "Etapa 3",
    title: "Expansión y Consolidación",
    description: [
      {
        text: "Expansión multicanal (TikTok, Linkedin, Pinterest)",
        icon: "icon-9",
      },
      { text: "Email marketing", icon: "icon-10" },
      {
        text: "Optimizaciones, reporting y redefinición de objetivos",
        icon: "icon-11",
      },
    ],
  },
];
---

<section class="pb-32 pt-20 px-10" id={"plan"}>
  <h3
    class="font-bold lg:text-5xl md:text-4xl text-3xl max-w-6xl mx-auto text-center lg:mb-20 mb-12 animation"
  >
    Nuestra metodología
  </h3>

  <div
    class="flex flex-col lg:flex-row xl:flex-nowrap lg:flex-wrap max-w-7xl m-auto gap-20 justify-center items-center w-full animation"
  >
    {
      stages.map((stage) => (
        <div class="flex flex-col lg:w-1/3 max-w-92 w-full gap-6">
          <div>
            <h4 class="text-brand font-light">{stage.stage}</h4>
            <h2 class="font-bold text-xl">{stage.title}</h2>
          </div>
          <ul class="flex flex-col gap-4">
            {stage.description.map((item) => (
              <li class="flex gap-4 items-center">
                <div class="min-w-[26px] ">
                  <svg width="26" height="27">
                    <use href={`./icons/icons.svg#${item.icon}`} />
                  </svg>
                </div>
                <span>{item.text}</span>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
