<section>
  <div class="sectionImages flex flex-row xl:flex-row">
    <img
      src="./images/image-1.webp"
      alt=""
      class="w-full h-auto object-cover"
    />
    <img
      src="./images/image-2.webp"
      alt=""
      class="w-full h-auto object-cover"
    />
    <img
      src="./images/image-3.webp"
      alt=""
      class="w-full h-auto object-cover"
    />
  </div>
  <div class="lg:py-32 py-24 bg-dark">
    <h3
      class="text-white lg:text-5xl text-3xl px-5 max-w-6xl mx-auto text-center animation font-bold"
    >
      Ofrecemos soluciones integrales para maximizar tu inversión y generar <span
        class="text-brand">resultados reales</span
      >
    </h3>
  </div>
</section>

<script>
  window.addEventListener("load", () => {
    const sectionImages = document.querySelector(".sectionImages");
    const imgs = sectionImages?.querySelectorAll("img");

    if (!sectionImages) return;

    const resizeImages = () => {
      const totalRatio = imgs
        ? Array.from(imgs).reduce(
            (sum, img) => sum + img.naturalWidth / img.naturalHeight,
            0,
          )
        : 0;
      const height = sectionImages.clientWidth / totalRatio;

      imgs?.forEach((img) => (img.style.height = `${height}px`));
    };

    resizeImages();

    let resetTime: ReturnType<typeof setTimeout> | undefined;

    window.addEventListener("resize", () => {
      clearTimeout(resetTime);
      resetTime = setTimeout(() => {
        resizeImages();
      }, 100);
    });
  });
</script>
